html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #cecece;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23fefefe' fill-opacity='0.16'%3E%3Cpath fill-rule='evenodd' d='M5 3.59L1.46.05.05 1.46 3.59 5 .05 8.54l1.41 1.41L5 6.41l3.54 3.54 1.41-1.41L6.41 5l3.54-3.54L8.54.05 5 3.59zM17 2h24v2H17V2zm0 4h24v2H17V6zM2 17h2v24H2V17zm4 0h2v24H6V17z'/%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Spartan", sans-serif;
  font-size: 0.75rem;
}

.player-container {
  width: 575px;
  max-width: 100%;
  height: 525px;
  background-color: #e7e7e7;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23746b6b' fill-opacity='0.08'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  border-radius: 1.25rem;
  box-shadow: 0 0.3125rem 2rem 0.3125rem rgba(0, 0, 0, 0.3);
}

.img-container {
  height: 300px;
  width: 525px;
  max-width: 100%;
  position: relative;
  top: -3rem;
  left: 25px;
}

.img-container img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.25rem;
  box-shadow: 0 1rem 2rem 0.3125rem rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 1.5625rem;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 400;
  margin: 0.75rem 0 0;
}

.progress-container {
  background: #fff;
  border-radius: 0.3125rem;
  cursor: pointer;
  margin: 2.5rem 1.25rem;
  height: 0.25rem;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 0.3125rem;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -1.5625rem;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: -1rem;
  width: 220px;
  position: inherit;
  text-align: center;
  margin: 0 auto;
}

.fas {
  font-size: 2rem;
  color: rgb(129, 129, 129);
  margin-right: 2rem;
  cursor: pointer;
  user-select: none;
}

.fas:hover {
  filter: brightness(80%);
}

.main-button {
  font-size: 2.5rem;
  position: relative;
  top: 0.1875rem;
}

/* Media Query */
@media screen and (max-width: 575px) {
  .player-container {
    width: 95vw;
    height: 550px;
  }

  .img-container {
    left: 0;
    padding: 1rem;
    margin: 0 auto;
    width: 80vw;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  .player-controls {
    top: -0.625rem;
  }

  .fas {
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }

  .main-button {
    font-size: 1.75rem;
  }

  .progress-container {
    width: 90vw;
    margin: 2.5rem auto;
  }
}
